In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/Data/05 Input Data/Year of Graduation Data/Final Lead Data.xlsx')

In [ ]:
data.head()

,ID,First Name,Email,Gender,City,Created,Position,New College Name,Colleges,Academic Year,Branch/ Specialisation,Other Branch,What is your current academic year?,Company Name/ College Name,Would you like to know more about us and our programs?,Are you interested in knowing more about our events?,Have you recommended Cloud Counselage to anyone?,How did you come to know about this event?
0,68112,ANIKET,aniket@xyz.com,NaN,NaN,04/27/2022 01:41:38 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
1,68110,Dhanshree,dhanshree@xyz.com,NaN,NaN,04/22/2022 04:08:38 pm,NaN,Lords Universal College,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
2,68108,Dhiraj,dhiraj@xyz.com,NaN,NaN,04/16/2022 10:31:59 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
3,68106,Pooja,pooja@xyz.com,NaN,NaN,04/13/2022 10:05:15 pm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN
4,68090,Aayush,aayush@xyz.com,NaN,NaN,03/26/2022 07:02:48 pm,NaN,B.k Birla college,NaN,NaN,NaN,NaN,NaN,NaN,yes,yes,no,NaN

In [ ]:
data.isna().sum()

ID                                                           0
First Name                                                   0
Email                                                        0
Gender                                                    5103
City                                                      5248
Created                                                      0
Position                                                  5297
New College Name                                          3485
Colleges                                                  3622
Academic Year                                             2785
Branch/ Specialisation                                    2783
Other Branch                                              4659
What is your current academic year?                       5172
Company Name/ College Name                                5065
Would you like to know more about us and our programs?       0
Are you interested in knowing more about our events?         0
Have you recommended Cloud Counselage to anyone?             0
How did you come to know about this event?                5148
dtype: int64

In [ ]:
Processed_Data = data.drop(data.columns[[2,3,4,12,13,14,15,16,17]],axis=1)

In [ ]:
Processed_Data = Processed_Data.dropna(subset=['Academic Year'])

In [ ]:
Processed_Data['Created'] = pd.to_datetime(Processed_Data['Created'])

In [ ]:
Processed_Data.dtypes

ID                                 int64
First Name                        object
Created                   datetime64[ns]
Position                          object
New College Name                  object
Colleges                          object
Academic Year                    float64
Branch/ Specialisation            object
Other Branch                      object
dtype: object

In [ ]:
Processed_Data['Created_Year'] = Processed_Data['Created'].dt.year

In [ ]:
Processed_Data['Created_Year'] = Processed_Data['Created_Year'].astype(int)

In [ ]:
def Calculate_year(current_year,academic_year):
  if academic_year == 1:
    result = current_year + 3
    return result
  elif academic_year == 2:
    result = current_year + 2
    return result
  elif academic_year == 3:
    result = current_year +1
    return result
  elif academic_year == 4:
    result = current_year +1
    return result
  else:
    return 0

In [ ]:
Processed_Data['Graduation_Year'] = Processed_Data[['Created_Year', 'Academic Year']].apply(lambda row: Calculate_year(row['Created_Year'], row['Academic Year']), axis=1)

In [ ]:
Processed_Data['Graduation_Year'] = pd.to_datetime(Processed_Data['Graduation_Year'], format='%Y').dt.year

In [ ]:
Processed_Data.to_excel('/content/Graduation_Output.xlsx',index=False)